
@import url(../framework/jquery.mobile.min.css);
@import url(../framework/jquery.mobile.theme.min.css);
@import url(../framework/waves/waves.min.css);
@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* General Classes */

body{
	font-family: 'Lato', sans-serif !important;
}

input, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif !important;
}

label {
	margin: 0 0 0.6em !important;
}

/* Personal Classes / app abbreviation */

.app-fixed {
	position: fixed !important;
	width: 100%;
}

.center {
	text-align: center !important;
}

.app-logo{
	width: 60%;
	margin: 5em 0 1em;
}

.app-header, .app-footer{
	padding: 12px 0 10px;
}

.app-footer {
	bottom: 0;
	text-align: center;
	font-size: 10px;
	min-height: 44px;
}

/** App Dashboard Header*/
.app-dash-header {
	background: #F0514F !important;
	color: #FFFFFF !important;
	text-shadow: none !important;
	min-height: 44px !important;
	padding: 0 !important;
	z-index: 9997;
	top: 0;
	border: 0 !important;
	margin-top: -2px;
}

.app-panel {
	z-index: 9999;
}

.app-content {
	margin-top: 44px;
}

.app-dash-btn {
	width: 45px;
	height: 42px;
	top: 2px;
	position: absolute;
	display: block;
}

.app-title {
	position: absolute;
	left: 45px;
	top: 14px;
	font-size: 14px;
}

.app-icon {
	padding: 10px;
	position:relative;
	top: 12px;
	left: 5px;
}


li#item{
	background-color: #FFF;
	border-color: #DDD;
	color: #333;
	text-shadow: 0 1px 0 #F3F3F3;
	border-width: 1px 0 0;
	border-style: solid;
	padding: .7em 1em;
}

ul#tabBar {
	position: fixed !important;
	z-index: 9998;
	background: white;
	width: 100%;
	top: 42px;
	left: -1px;	
}

ul#tabBar li {
	border-bottom: 2px solid #DFDFDF;
}

ul#tabBar li a{
	color: #B6B6B6 !important;
	padding: 15px;
	border-color: white !important;
}

ul#tabBar li.ui-tabs-active a{
	color: #2E2E2E !important;
	padding: 15px;
	border-color: white !important;
}

.panelTab {margin-top: 85px;}

.title-activity {
	text-align: left;
	padding: 10px 17px;
	text-shadow: none;
	color: #FFF;
	font-size: 12px;
	top: 42px;
	position: fixed;
	background: #2E2E2E;
	width: 100%;
}

.title-activity p {
	margin: 0 !important;
}

/* Modified Classes jQuery Mobile */

.ui-block-a a, .ui-block-c a, .ui-grid-a a{
	color: #FFFFFF !important;
	text-decoration: none;
}

.ui-grid-a a{
	color: #FFFFFF !important;
	text-decoration: none;
}

.ui-page-theme-a .ui-focus, .ui-shadow-inset, .ui-btn.ui-btn-b:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-loader-default {
	margin-top: 6.5em;
}

.ui-page-theme-a .ui-btn.ui-btn-active{
	background: none !important;
	color: #2e2e2e !important;
	text-shadow: none !important;
	border-color: #DDD !important;
}

.ui-page-theme-a .ui-btn:focus{
	box-shadow: none !important;
}

.ui-navbar li:last-child .ui-btn{
	margin: 0 !important;
}

.ui-listview>.ui-li-static {
	padding: 10px 16px !important;
	margin-bottom: -9px !important;
}

ul#tabBar li.ui-tabs-active a {
	color: #FAFAFA !important;
	text-shadow: none !important;
	background: #2E2E2E !important;
	padding: 15px;
	border: 0 !important;
	/* border-color: #FFF!important; */
}